/* Стили секции "History" */
/* ========================================= */
.section {
    --block-size-base: 700px
}
.section__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
}

.section__left {
    position: sticky;
    top: 100px;

    height: var(--block-size-base);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section__images {
    position: relative;
    overflow: hidden;

    width: 80%;
    height: 75%;

    border-radius: var(--br-big);
}
.section__image {
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.section__right {
    display: block;
}
.section__cards {
    display: grid;
    grid-template-rows: repeat(4, var(--block-size-base));
}
.section__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 30px;
}
.section__card > * {
    width: 100%;
}

.section__count {
    display: flex;
    align-items: center;
    column-gap: 25px;
}
.section__count_value {
    font-size: 0.8rem;
    line-height: 1;
}

.section__image_mobile {
    display: none;
    max-width: 400px;

    border-radius: var(--br-big);
}

/* Адаптивный дизайн секции */
/* ========================================= */
@media screen and (width <= 769px) {
    .section__content {
        grid-template-columns: 1fr;
    }
    .section__left {
        display: none;
    }
    .section__cards {
        row-gap: 70px;
        grid-template-rows: auto;
    }
    .section__card {
        align-items: center;
        text-align: center;
    }

    .section__image_mobile {
        display: flex;
    }
}

@media screen and (width <= 426px) {
    .section__card {
        text-align: start;
    }
}
